.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vmin;
}

.controls__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
  cursor: pointer;
}

.controls__button {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  border: 0.5vmin solid #9b4f0f;
  background-color: #9b4f0f;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controls__item.active .controls__button {
  background-color: transparent;
}

.controls__item.active:hover .controls__button,
.controls__item.active:focus .controls__button {
  background-color: transparent;
}

.controls__item:hover .controls__button,
.controls__item:focus .controls__button {
  border-color: aliceblue;
  background-color: aliceblue;
}

@media screen and (width > 768px) {
  .controls__item {
    padding: 1vmin;
  }

  .controls__button {
    width: 1.7vmin;
    height: 1.7vmin;
    border: 0.3vmin solid #9b4f0f;
  }
}
