.description {
  color: rgb(248, 236, 223);
  display: flex;
  width: calc(200% * 8);
}

.description__wrapper {
  max-width: 100%;
}

.description__item {
  min-width: calc(100% / 8);
  padding-left: 1rem;
}

@media screen and (width > 768px) {
  .description__wrapper {
    max-width: 50%;
    overflow: hidden;
  }
}
