.slider {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  max-width: 99rem;
  overflow: hidden;
  margin: 0 7%;
}

.slider__list {
  display: flex;
}

.slider__item {
  aspect-ratio: 16 / 10;
  overflow: hidden;
  min-width: 100%;
}
