@import url("./container.css");
@import url("./slider.css");
@import url("./controls.css");
@import url("./description.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  scroll-behavior: smooth;
  font-size: 1vmin;
}

body {
  font-family: Arial, sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  background-color: #1e1e23;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img,
picture,
video {
  display: block;
  width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

/* .wrapper {
  display: flex;
} */
